<header class="site-header">
  <div class="logo-container">
    <a routerLink="/" class="logo-link">[LOGO DO SEU SITE RYUUTAMA]</a>
  </div>
  <nav class="main-navigation">
    <ul>
      <li><a routerLink="/">Início</a></li>
      <li><a href="javascript:void(0);" (click)="scrollToSection('o-que-e')">O Que é?</a></li>
      <li><a href="javascript:void(0);" (click)="scrollToSection('mecanicas')">Mecânicas</a></li>
      <li><a routerLink="/comprar">Onde Comprar?</a></li> </ul>
  </nav>
</header>
