<header class="site-header">
  <div class="logo-container">
    <a routerLink="/" class="logo-link">[LOGO DO SEU SITE RYUUTAMA]</a>
  </div>
  <nav class="main-navigation">
    <ul>
      <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Início</a></li>
      <li><a routerLink="/classes" routerLinkActive="active-link">Viajantes</a></li>
      <li><a routerLink="/ryuujin" routerLinkActive="active-link">Ryuujin (Mestres)</a></li>
      <li><a routerLink="/mundo" routerLinkActive="active-link">Criação de Mundo</a></li>
      <li><a routerLink="/como-jogar" routerLinkActive="active-link">Como se Joga</a>
      <li><a routerLink="/recursos" routerLinkActive="active-link">Recursos</a></li>
    </ul>
  </nav>
</header>
