<header class="site-header">
  <div class="logo-container">
    <a routerLink="/" class="logo-link">[LOGO DO SEU SITE RYUUTAMA]</a>
  </div>
  <nav class="main-navigation">
    <ul>
      <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Início</a></li>
      <li><a routerLink="/o-que-e" routerLinkActive="active-link">O Que é?</a></li> <li><a routerLink="/mecanicas" routerLinkActive="active-link">Mecânicas</a></li> <li><a routerLink="/comprar" routerLinkActive="active-link">Onde Comprar?</a></li> </ul>
  </nav>
</header>