<div class="content-section-inner"> <h2>O Papel do Mestre: O Ryuujin</h2>
  <p>Em Ryuutama, o Mestre (GM) interpreta um "Ryuujin", um guardião oculto do mundo que zela pelos Viajantes...</p>
  <p>Existem quatro tipos principais, cada um focado em um estilo de história diferente:</p>
  <div class="ao-ryuu-card">
    <img src="../../assets/img/ao-ryuu.png" alt="Ao-Ryuu">
    <h2>Ao-Ryuu (Dragão Azul)</h2>
    <p>
      Contos de romance, amizade, episódios comoventes, drama humano, família e animais estão sob a alçada dos Ryuujins-Azuis.
      Ele têm poderes para fortalecer os laços entre os Viajantes e recompensar a bondade.
    </p>
    <div class="details">
      ✾ Artefatos: Anel; Cristal; Mascote<br>
      ✾ Bénédictions: Conto da Bondade; Conto do Amor; Conto do Coração
    </div>
  </div>

  <div class="midori-ryuu-card">
    <img src="../../assets/img/midori-ryuu.png" alt="Midori-Ryuu">
    <h2>Midori-Ryuu (Dragão Verde)</h2>
    <p>
      Contos de jornadas, peregrinações, aventura, exploração e esperança são o domínio dos Ryuujins-Verdes.
      Embora suas habilidades possam ser consideradas simples, eles são muito versáteis e, portanto, uma ótima escolha padrão para uma GM novata.
    </p>
    <div class="details">
      ✾ Artefatos: Enciclopédia; Sextante; Tocha<br>
      ✾ Bénédictions: Conto da Jornada; Conto da Nostalgia; Conto do Diário do Viajante
    </div>
  </div>

  <div class="kurenai-ryuu-card">
    <img src="../../assets/img/kurenai-ryuu.png" alt="Kurenai-Ryuu">
    <h2>Kurenai-Ryuu (Dragão Carmesim)</h2>
    <p>
      Contos de batalhas, guerra, crescimento e experiência, caça a Monstros e exploração de masmorras são dos domínio dos Ryuujins-Carmesins.
      Eles não só aumentam o caos no campo de batalha, como também têm poderes que ajudam os viajantes em batalhas.
    </p>
    <div class="details">
      ✾ Artefatos: Arco Longo; Espada Grande; Lança Longa<br>
      ✾ Bénédictions: Conto da Renovação; Conto do Desafio; Conto do Herói
    </div>
  </div>

  <div class="kuro-ryuu-card">
    <img src="../../assets/img/kuro-ryuu.png" alt="Kuro-Ryuu">
    <h2>Kuro-Ryuu (Dragão Preto)</h2>
    <p>
      Contos de conspiração, traição, assassinato, tragédia, corrupção, suspense e a resolução de mistérios se enquadram nas histórias que os Ryuujins-Pretos controlam.
      Eles podem conceder segredos sombrios aos viajantes e encher corações de pavor.
    </p>
    <div class="details">
      ✾ Artefatos: Adaga; Cálice; Espelho<br>
      ✾ Bénédictions: Conto da Matança; Conto da Orientação; Conto da Vingança
    </div>
  </div>



  <a routerLink="/" class="cta-button secondary">Voltar para Início</a>
</div>
