<div class="content-section-inner">
  <h2>Viajantes: As Classes</h2>

  <section class="intro-text">
    <p>À medida que os reinos dos homens se espalhavam pelo mundo de Ryuutama, várias culturas e tradições surgiam. Uma coisa em comum une essas comunidades: a Jornada. Espera-se que todas as mulheres e homens do mundo deixem sua cidade natal para experienciar a natureza e o mundo em geral, pelo menos uma vez na vida. Essas pessoas são chamadas de Viajantes.</p>
    <p>Camponeses de aldeias tranquilas, cidadãos de cidades movimentadas, os bondosos e os mal-humorados; todos embarcam na mesma odisseia. Embora cada Viajante embarque em sua Jornada em uma fase diferente da vida, por razões diferentes e siga para terras diferentes, todos eles se esforçam para aproveitar ao máximo seu tempo na estrada.</p>
    <p>Ao iniciar sua jornada, você escolherá uma das sete Classes abaixo, que representa seu ofício e suas habilidades iniciais.</p>
  </section>

  <hr>

  <section class="class-detail">
    <div class="class-image-container">
      <img class="class-image" src="../../assets/img/artesao.png" alt="Ilustração da classe Artesão">
    </div>
    <div class="class-text">
      <h3>Artesão</h3>
      <p>Profissionais que fazem coisas úteis, coisas bonitas, coisas deliciosas e uma variedade de outras coisas. Artesãos conseguem consertar objetos que venham a quebrar ao longo da viagem até seu destino. Eles também podem criar as coisas cotidianas de que precisam.</p>
      <p><em>Exemplos de Ofícios:</em> sapateira, chapeleiro, cozinheira etc.</p>
      <p><strong>Talentos Iniciais:</strong> Artesanato, Captura, Reparo.</p>
    </div>
  </section>

  <hr>

  <section class="class-detail">
     <div class="class-image-container">
       <img class="class-image" src="../../assets/img/Cacador.png" alt="Ilustração da classe Caçador">
    </div>
    <div class="class-text">
      <h3>Caçador</h3>
      <p>Trabalhadores que ganham a vida em meio à natureza, usando sabedoria e tecnologia para derrubar suas presas. Caçadores podem encontrar alimentos em qualquer terra ou Clima enquanto viajam ao seu destino. Eles podem até se alimentar de Monstros.</p>
      <p><em>Exemplos de Ofícios:</em> caçadora, armadilheiro, caça-monstros etc.</p>
      <p><strong>Talentos Iniciais:</strong> Caça, Captura, Rastreio de Animais.</p>
    </div>
  </section>

  <hr>

  <section class="class-detail">
    </section>
  <hr>

  <section class="class-detail">
    </section>
  <hr>

  <section class="class-detail">
    </section>
  <hr>

  <section class="class-detail">
    </section>
  <hr>

  <section class="class-detail">
    </section>
  <hr>
  <a routerLink="/" class="cta-button secondary">Voltar para Início</a>
</div>
