<div class="content-section-inner">
  <h2>Viajantes: As Classes</h2>

  <section class="intro-text">
    <p>À medida que os reinos dos homens se espalhavam pelo mundo de Ryuutama, várias culturas e tradições surgiam. Uma coisa em comum une essas comunidades: a Jornada. Espera-se que todas as mulheres e homens do mundo deixem sua cidade natal para experienciar a natureza e o mundo em geral, pelo menos uma vez na vida. Essas pessoas são chamadas de Viajantes.</p>
    <p>Camponeses de aldeias tranquilas, cidadãos de cidades movimentadas, os bondosos e os mal-humorados; todos embarcam na mesma odisseia. Embora cada Viajante embarque em sua Jornada em uma fase diferente da vida, por razões diferentes e siga para terras diferentes, todos eles se esforçam para aproveitar ao máximo seu tempo na estrada.</p>
    <p>Ao iniciar sua jornada, você escolherá uma das sete Classes abaixo, que representa seu ofício e suas habilidades iniciais.</p>
  </section>

  <hr>

  <section class="class-detail">
    <div class="class-image-container">
      <img class="class-image" src="../../assets/img/artesao.png" alt="Ilustração da classe Artesão">
    </div>
    <div class="class-text">
      <h3>Artesão</h3>
      <p>Profissionais que fazem coisas úteis, coisas bonitas, coisas deliciosas e uma variedade de outras coisas. Artesãos conseguem consertar objetos que venham a quebrar ao longo da viagem até seu destino. Eles também podem criar as coisas cotidianas de que precisam.</p>
      <p><em>Exemplos de Ofícios:</em> sapateira, chapeleiro, cozinheira etc.</p>
      <p><strong>Talentos Iniciais:</strong> Artesanato, Captura, Reparo.</p>
    </div>
  </section>

  <hr>

  <section class="class-detail">
     <div class="class-image-container">
       <img class="class-image" src="../../assets/img/Cacador.png" alt="Ilustração da classe Caçador">
    </div>
    <div class="class-text">
      <h3>Caçador</h3>
      <p>Trabalhadores que ganham a vida em meio à natureza, usando sabedoria e tecnologia para derrubar suas presas. Caçadores podem encontrar alimentos em qualquer terra ou Clima enquanto viajam ao seu destino. Eles podem até se alimentar de Monstros.</p>
      <p><em>Exemplos de Ofícios:</em> caçadora, armadilheiro, caça-monstros etc.</p>
      <p><strong>Talentos Iniciais:</strong> Caça, Captura, Rastreio de Animais.</p>
    </div>
  </section>

  <hr>

  <section class="class-detail">
    <div class="class-image-container">
      <img class="class-image" src="../../assets/img/Curandeiro.png" alt="Ilustração da classe Caçador">
   </div>
   <div class="class-text">
    <h3>Curandeiro</h3>
    <p>Médicos que conquistaram o respeito de todos curando doenças e feridas com ervas. Você deve se certificar de ter um Curandeiro consigo se estiver viajando por terras potencialmente perigosas.</p>
    <p><em>Exemplos de Ofícios:</em> médico, farmacêutica, alquimista, herbalista etc.</p>
    <p><strong>Talentos Iniciais:</strong> Coleta de Ervas, Cura, Primeiros Socorros.</p>
  </div>
    </section>
  <hr>

  <section class="class-detail">
    <div class="class-image-container">
      <img class="class-image" src="../../assets/img/fazendeiro.png" alt="Ilustração da classe Caçador">
   </div>
   <div class="class-text">
    <h3>Fazendeiro</h3>
      <p>Trabalhadores que vivem em harmonia com a providência da naturez. Para conseguir alimento, eles precisam realizar várias tarefas diferentes, o que lhes treina em um Talento
        especifico de outra Classe.</p>
      <p><em>Exemplos de Ofícios:</em> agricultor, criador, leiteira etc.</p>
      <p><strong>Talentos Iniciais:</strong> Dono de Animal, Ofício Paralelo, Robusto.</p>
    </div>
    </section>
  <hr>

  <section class="class-detail">
    <div class="class-image-container">
      <img class="class-image" src="../../assets/img/menestrel.png" alt="Ilustração da classe Caçador">
   </div>
   <div class="class-text">
    <h3>Menestrel</h3>
       <p>Viajantes entre viajantes, menestréis viajam de cidade a cidade exibindo seus Talentos para a música ou dança. Menestréis tem vários Talentos que podem auxiliar o
        grupo em uma variedade de situações.</p>
       <p><em>Exemplos de Ofícios:</em> dançarina, músico, menestrel etc.</p>
       <p><strong>Talentos Iniciais:</strong> Conhecimento da Tradição, Música, Viajado.</p>
     </div>
    </section>
  <hr>

  <section class="class-detail">
    <div class="class-image-container">
      <img class="class-image" src="../../assets/img/Mercador.png" alt="Ilustração da classe Caçador">
   </div>
   <div class="class-text">
    <h3>Mercador</h3>
    <p>Comerciantes itinerantes que trocam mercadorias de vários locais por gills e joias. Mercadores têm Talentos que lhes permitem comprar mercadorias baratas e vendê-las por um
      preço mais alto. Eles também são bons em negociação, usando seus dons de conversação.</p>
    <p><em>Exemplos de Ofícios:</em> comerciante, dona de loja, líder de caravana etc.</p>
    <p><strong>Talentos Iniciais:</strong> Dono de Animal, Eloquente, Negociante.</p>
  </div>
    </section>
  <hr>

  <section class="class-detail">
    <div class="class-image-container">
      <img class="class-image" src="../../assets/img/Nobre.png" alt="Ilustração da classe Caçador">
   </div>
   <div class="class-text">
    <h3>Nobre</h3>
    <p>Membros de uma casa nobre, eles são versados nas artes literárias e militares e conhecem a etiqueta apropriada. No entanto, nobres não são muito adequados para a vida ao ar livre e não são muito bons em viajar.</p>
    <p><em>Exemplos de Ofícios:</em> cavaleiro, samurai, daimyo, leide etc.</p>
    <p><strong>Talentos Iniciais:</strong> Educação Refinada, Etiqueta, Finesse Marcial.</p>
   </div>
    </section>
  <hr>
  <a routerLink="/" class="cta-button secondary">Voltar para Início</a>
</div>
