<div class="content-section-inner">
  <h2>Classes de Viajante</h2>
  <p>Em Ryuutama, você cria um "Viajante" escolhendo uma das sete Classes. Cada uma representa um ofício ou posição na comunidade e oferece Talentos únicos para ajudar na jornada.
    Os jogadores devem cooperar ao escolher Classes para que suas especialidades não se sobreponham.</p>
  <p>Classes recomendadas para novos jogadores: Menestrel, Mercador, Curandeiro e Caçador.</p>
  <p>Classes recomendadas para jogadores com um pouco de experiência: Artesão, Fazendeiro e Nobre.</p>

  <hr>

  <section class="class-detail">
    <h3>Artesão</h3>
    <p>Profissionais que fazem coisas úteis, coisas bonitas, coisas deliciosas e uma variedade de outras coisas. Artesãos conseguem consertar objetos que venham a quebrar e
      criar coisas necessárias ao longo do caminho até seu destino.</p>
    <p><em>Exemplos de Ofícios:</em> sapateira, chapeleiro, cozinheira etc.</p>
    <p><em>Exemplos de Ações:</em> costurar, cozinhar, consertar etc.</p>
    <p><strong>Talentos Iniciais:</strong> Artesanato, Captura, Reparo.</p>
  </section>

  <section class="class-detail">
    <h3>Caçador</h3>
    <p>Trabalhadores que ganham a vida em meio à natureza, usando sabedoria e tecnologia para derrubar suas presas. Caçadores podem encontrar alimentos em qualquer terra ou
      Clima enquanto viajam ao seu destino. Eles podem até se alimentar de Monstros.</p>
     <p><em>Exemplos de Ofícios:</em> caçadora, armadilheiro, caça-monstros etc.</p>
    <p><em>Exemplos de Ações:</em> caçar, rastrear/perseguir, pescar etc.</p>
    <p><strong>Talentos Iniciais:</strong> Caça, Captura, Rastreio de Animais.</p>
  </section>

  <hr>
   <a routerLink="/" class="cta-button secondary">Voltar para Início</a>
</div>
